APP_HOST=127.0.0.1
APP_PORT=3010
DATABASE_PATH=./data/chat.sqlite
PUBLIC_BASE_URL=https://chat.freep0rndeveloper.website
VAPID_PUBLIC_KEY=BApO6HvB5_Y-HBYTXThspkE3JPpJnsPxs3ZRBO7P7bxv8F7dfrvtIOOS1br0hbCJx1kRXTxWV_lMk_Mt9akwKhE
VAPID_PRIVATE_KEY=5O4fftxwG81JCJR9WFvnRErVdBVPZdUlaltlWKA0z8Y
VAPID_SUBJECT=mailto:vadim.reizer@ya.ru